@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 210 20% 98%;
    --card: 240 10% 4%;
    --card-foreground: 210 20% 98%;
    --popover: 240 10% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 2% 10%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 2% 10%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 240 2% 10%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 2% 10%;
    --input: 240 2% 10%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* hack clerk :)) */
.cl-internal-b3fm6y {
  @apply hidden;
}

.cl-internal-1fsg6zy {
  @apply bg-primary hover:bg-primary/80;
}

.cl-internal-15amzqo {
  @apply text-primary;
}

/* .dark .cl-internal-mdg29y,
.dark .cl-internal-18ut2g5,
.dark .cl-internal-zooryz,
.dark .cl-internal-17ydaof {
  @apply bg-[#19191a];
}

.dark .cl-internal-1vbdq0x,
.dark .cl-internal-7pl8hj,
.dark .cl-internal-138ov2f,
.dark .cl-internal-1xpzc82,
.dark .cl-internal-mdg29y,
.dark .cl-internal-17bz5n6,
.dark .cl-internal-18ut2g5,
.dark .cl-internal-1s2rqwh,
.dark .cl-internal-zooryz,
.dark .cl-internal-13zhnx0 {
  @apply text-white;
}

.dark .cl-internal-1hun4op {
  @apply text-slate-200;
}

.dark .cl-internal-19nto4s {
  @apply text-red-500;
}

.dark .cl-internal-b868gt {
  @apply bg-white/10;
}

.dark .cl-internal-oaq42g {
  @apply stroke-white;
}

.dark .cl-internal-u0g48b {
  @apply !stroke-white;
}

.dark .cl-internal-mdg29y,
.dark .cl-internal-18ut2g5,
.dark .cl-internal-1hhd4k {
  @apply border-white/10 border rounded-md;
} */
